body {
	min-width: 320px;
	max-width: 1280px;
	margin: 0 auto;
	font-family: "Inter", "Arial", sans-serif;
	background-color: #2f2f2f;
	color: #ffffff;
}

/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	padding: 28px 48px 56px;
}

.header__logo {
	width: 176px;
	height: 52px;
}

.header__lang-container {
	display: flex;
	max-width: 78px;
}

.header__langToggler {
	align-self: center;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 400;
	border-bottom: 1px solid transparent;
}

.header__langToggler:not(:last-child) {
	margin-right: 18px;
}

.header__langToggler.active {
	border-bottom-color: white;
}

/* LEAD */

.lead {
	position: relative;
	max-width: 984px;
	margin: 0 auto;
	margin-bottom: 92px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lead__title {
	text-align: center;
	max-width: 640px;
	line-height: 100px;
	font-size: 96px;
	font-weight: 900;
	margin-bottom: 32px;
}

.lead__subtitle {
	text-align: center;
	max-width: 640px;
	line-height: 36px;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 64px;
}

.lead__image {
	background-image: url(img/kalegin-michail-179870-unsplash.webp);
	background-repeat: no-repeat;
	height: calc(100vw * 615 / 1280);
	background-size: cover;
	max-width: 985px;
	max-height: 615px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lead__path {
	animation: leading 20s linear forwards;
	fill: none;
	stroke: white;
	stroke-width: 2px;
	stroke-dasharray: 1390;
	stroke-dashoffset: 1390;
}

.lead__town {
	opacity: 0;
}

.point {
	opacity: 0;
}

.point-bg {
	opacity: 0;
}

@keyframes leading {
	to {
		stroke-dashoffset: 2780;
	}
}

@keyframes appearance {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.lead__town:nth-child(2) {
	animation: appearance 1s linear forwards;
	opacity: 0;
}

.lead__town:nth-child(3) {
	animation: appearance 1s linear forwards 1.8s;
	opacity: 0;
}

.lead__town:nth-child(4) {
	animation: appearance 1s linear forwards 4.5s;
	opacity: 0;
}

.lead__town:nth-child(5) {
	animation: appearance 1s linear forwards 5.6s;
	opacity: 0;
}

.lead__town:nth-child(6) {
	animation: appearance 1s linear forwards 7.5s;
	opacity: 0;
}

.lead__town:nth-child(7) {
	animation: appearance 1s linear forwards 8.9s;
	opacity: 0;
}

.lead__town:nth-child(8) {
	animation: appearance 1s linear forwards 11.9s;
	opacity: 0;
}

.lead__town:nth-child(9) {
	animation: appearance 1s linear forwards 13s;
	opacity: 0;
}

.lead__town:nth-child(10) {
	animation: appearance 1s linear forwards 14.1s;
	opacity: 0;
}

.lead__town:nth-child(11) {
	animation: appearance 1s linear forwards 15.8s;
	opacity: 0;
}

.lead__town:nth-child(12) {
	animation: appearance 1s linear forwards 18.8s;
	opacity: 0;
}

.lead__town:nth-child(13) {
	animation: appearance 1s linear forwards 19.9s;
	opacity: 0;
}

.lead__town-point:nth-child(14) {
	animation: appearance 1s linear forwards;
	opacity: 0;
}

.lead__town-point:nth-child(15) {
	animation: appearance 1s linear forwards 1.8s;
	opacity: 0;
}

.lead__town-point:nth-child(16) {
	animation: appearance 1s linear forwards 1.8s;
	opacity: 0;
}

.lead__town-point:nth-child(17) {
	animation: appearance 1s linear forwards 4.5s;
	opacity: 0;
}

.lead__town-point:nth-child(18) {
	animation: appearance 1s linear forwards 4.5s;
	opacity: 0;
}

.lead__town-point:nth-child(19) {
	animation: appearance 1s linear forwards 5.6s;
	opacity: 0;
}

.lead__town-point:nth-child(20) {
	animation: appearance 1s linear forwards 5.6s;
	opacity: 0;
}

.lead__town-point:nth-child(21) {
	animation: appearance 1s linear forwards 7.5s;
	opacity: 0;
}

.lead__town-point:nth-child(22) {
	animation: appearance 1s linear forwards 7.5s;
	opacity: 0;
}

.lead__town-point:nth-child(23) {
	animation: appearance 1s linear forwards 8.9s;
	opacity: 0;
}
.lead__town-point:nth-child(24) {
	animation: appearance 1s linear forwards 8.9s;
	opacity: 0;
}

.lead__town-point:nth-child(25) {
	animation: appearance 1s linear forwards 11.9s;
	opacity: 0;
}

.lead__town-point:nth-child(26) {
	animation: appearance 1s linear forwards 11.9s;
	opacity: 0;
}

.lead__town-point:nth-child(27) {
	animation: appearance 1s linear forwards 13s;
	opacity: 0;
}

.lead__town-point:nth-child(28) {
	animation: appearance 1s linear forwards 13s;
	opacity: 0;
}

.lead__town-point:nth-child(29) {
	animation: appearance 1s linear forwards 14.1s;
	opacity: 0;
}

.lead__town-point:nth-child(30) {
	animation: appearance 1s linear forwards 14.1s;
	opacity: 0;
}

.lead__town-point:nth-child(31) {
	animation: appearance 1s linear forwards 15.8s;
	opacity: 0;
}

.lead__town-point:nth-child(32) {
	animation: appearance 1s linear forwards 15.8s;
	opacity: 0;
}

.lead__town-point:nth-child(33) {
	animation: appearance 1s linear forwards 18.8s;
	opacity: 0;
}

.lead__town-point:nth-child(34) {
	animation: appearance 1s linear forwards 18.8s;
	opacity: 0;
}

.lead__town-point:nth-child(35) {
	animation: appearance 1s linear forwards 19.9s;
	opacity: 0;
}

.lead__town-point:nth-child(36) {
	animation: appearance 1s linear forwards 19.9s;
	opacity: 0;
}

.lead__caption {
	line-height: 14px;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-top: 8px;
	padding-left: 0;
	align-self: start;
}

/* INTRO */
.intro {
	margin-left: 148px;
	max-width: 690px;
	margin-bottom: 92px;
}

.intro__title {
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
	margin-bottom: 40px;
}

.intro__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 33px;
}

.intro__list-item {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.intro__stats {
	font-weight: normal;
}

/* PHOTO-GRID */

.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	max-width: 1184px;
	width: calc(100vw * 1184 / 1280);
	margin: 0 auto;
	margin-bottom: 92px;
}

/* PLACES */

.places {
	max-width: 984px;
	margin: 0 auto;
}

.place {
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-areas:
		"title website"
		"image text";
	column-gap: 40px;
	row-gap: 48px;
	margin-bottom: 80px;
}

.place__title {
	font-size: 72px;
	line-height: 76px;
	font-weight: 900;
}

.place__website {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.place__url-heading {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
	color: #aaaaaa;
	margin-bottom: 12px;
}

.place__image {
	grid-area: image;
	margin: 0 auto;
}

.place__link {
	color: white;
	font-size: 18px;
	line-height: 22px;
	transition: opacity 0.3s ease;
}

.place__link::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: opacity 0.3s ease;
}

.place__link:hover,
.place__link:hover::after {
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.place__website {
	grid-area: website;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.place__text {
	grid-area: text;
	font-size: 18px;
	line-height: 1.63;
}

.place__paragraph {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

.place__paragraph:not(:last-child) {
	margin-bottom: 26px;
}

/* COVER */

.cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
	max-width: 1184px;
}

.cover__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.3;
	background-color: #2a2c2f;
	transition: opacity 0.2s linear;
}

.cover:hover .cover__overlay {
	opacity: 0.8;
	transition: opacity 0.2s linear;
}

.cover__link {
	transition: opacity 0.3s ease-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-style: normal;
	background-image: url(img/background.webp);
	background-size: cover;
	min-height: calc(100vw * 740 / 1280);
	width: 100%;
	justify-content: center;
}

.cover__title {
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	margin-bottom: 16px;
	z-index: 2;
	color: #ffffff;
}

.cover__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	z-index: 2;
	color: #ffffff;
	max-width: 360px;
}

/* FOOTER */

.footer {
	padding: 92px 48px 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__links {
	display: flex;
	flex-direction: row;
}

.footer__link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	transition: opacity 0.3s ease;
}

.footer__list-item {
	margin-right: 18px;
	list-style: none;
}

.footer__link:hover {
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.footer__copyright {
	font-size: 14px;
	line-height: 16px;
	font-style: normal;
	font-weight: normal;
}

@media screen and (min-width: 1281px) {
	.cover__link {
		min-height: 784px;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		padding-bottom: 0;
		margin-bottom: 48px;
	}

	.lead {
		max-width: 928px;
	}

	.lead__image {
		height: calc(100vw * 580 / 1024);
	}

	.lead__subtitle {
		margin-bottom: 56px;
	}

	.lead__tracker {
		top: 475px;
		padding-left: 87px;
		padding-right: 87px;
	}

	.intro {
		width: 690px;
		margin-left: 48px;
	}

	.photo-grid {
		width: calc(100vw * 928 / 1024);
		grid-template-columns: repeat(3, 1fr);
		gap: 14px;
	}

	.place {
		padding-left: 48px;
		padding-right: 48px;
		grid-template-columns: 440px 1fr;
		column-gap: 32px;
	}
	.cover {
		margin-left: 0;
		margin-right: 0;
	}

	.cover__link {
		min-height: calc(100vw * 640 / 1024);
	}
}

@media screen and (max-width: 890px) {
	.header {
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width: 830px) {
	.place {
		grid-template-columns: 340px 1fr;
	}

	.footer {
		display: flex;
		flex-direction: column;
	}

	.footer__nav {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		padding: 0;
	}

	.lead__image {
		height: calc(100vw * 480 / 768);
	}

	.lead__title {
		padding-left: 0;
		padding-right: 0;
    width: 90%;
		font-size: calc(96px + 56 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(100px + 56 * ((100vw - 768px) / (768 - 320)));
	}

	.lead__subtitle {
    width: 90%;
		font-size: calc(30px + 14 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(36px + 16 * ((100vw - 768px) / (768 - 320)));
	}

	.lead__caption {
		padding-left: 24px;
	}

	.intro {
		padding-left: 24px;
		padding-right: 24px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 64px;
		width: 100%;
		max-width: 100%;
	}

	.intro__title {
		font-size: calc(54px + 22 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(58px + 23 * ((100vw - 768px) / (768 - 320)));
	}

	.photo-grid {
		margin-bottom: 88px;
		width: calc(100vw * 720 / 768);
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	.place {
		padding-left: 24px;
		padding-right: 24px;
		grid-template-columns: 340px 1fr;
	}

	.place__title {
		font-size: calc(42px + 10 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(46px + 11 * ((100vw - 768px) / (768 - 320)));
	}

	.place__paragraph {
		font-size: 16px;
		line-height: 1.63;
	}

	.cover {
		margin-top: 90px;
	}
	.cover__title {
		font-size: calc(72px + 40 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(76px + 41 * ((100vw - 768px) / (768 - 320)));
	}

	.cover__subtitle {
		font-size: calc(18px + 4 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(22px + 6 * ((100vw - 768px) / (768 - 320)));
	}

	.cover__link {
		min-height: calc(100vw * 480 / 768);
	}

	.footer {
		padding: 92px 48px 24px;
	}
}

@media screen and (max-width: 767px) {
	.places {
		width: 80%;
	}

	.place {
		display: grid;

		grid-template-columns: 1fr;
		grid-template-areas: "title" "website" "image" "text";
		margin: 0;
		padding: 0;
		row-gap: 32px;
		margin-bottom: 50px;
	}

	.place__title {
		font-size: 32px;
		line-height: 35px;
	}

	.place__image {
		width: 100vw;
	}
}

@media screen and (max-width: 761px) {
	.footer {
		padding: 64px 0 24px 16px;
		display: flex;
		flex-direction: column;
	}

	.footer___links {
		display: block;
	}

	.footer___link {
		font-size: 24px;
		line-height: 1;
	}

	.footer___list-item:not(:last-child) {
		margin-bottom: 32px;
	}

	.footer___copyright {
		margin-top: 48px;
	}
}

@media screen and (max-width: 646px) {
	.lead___subtitle {
		padding-left: 24px;
		padding-right: 24px;
	}
}

@media screen and (max-width: 480px) {
  .footer__links {
		flex-direction: column;
		row-gap: 32px;
	}

  .footer__link {
		font-size: 24px;
		line-height: 24px;
	}
}

@media screen and (max-width: 320px) {
	.header {
		padding: 16px;
		padding-bottom: 0;
	}

	.header__logo {
		width: 142px;
		height: 42px;
	}

	.header__langToggler {
		font-size: 18px;
		line-height: 20px;
	}

	.lead {
		margin-bottom: 64px;
	}

	.lead__image {
		min-height: 200px;
	}

	.lead__title {
		margin: 0;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 40px;
		line-height: 1.1;
	}

	.lead__subtitle {
		margin-top: 16px;
		margin-bottom: 40px;
		padding-left: 16px;
		padding-right: 16px;
		font-size: 16px;
		line-height: 1.25;
	}

	.lead__caption {
		padding-left: 16px;
	}

	.lead__tracker {
		top: 220px;
		padding-left: 13.5px;
		padding-right: 13.5px;
	}

	.intro {
		padding-left: 16px;
		padding-right: 16px;
	}

	.intro__title {
		font-size: 32px;
		line-height: 1.09;
	}

	.photo-grid {
		width: 288px;
		grid-template-columns: 1fr;
		gap: 12px;
		margin-bottom: 64px;
	}

	.places {
		width: 100%;
	}

	.place__image {
		width: 320px;
	}

	.place__title,
	.place__website,
	.place__text {
		padding: 0 16px;
	}

	.cover__title {
		font-size: 32px;
		line-height: 35px;
	}

	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.cover__link {
		background-size: cover;
		height: 200px;
	}




}
