body {
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    min-width: 320px;
    max-width:1280px;
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 auto;
}

    /* HEADER */
.header_top {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 48px;
    max-width: 1184px;
}

.header_logo {
    width: 44vw;
    max-width: 176px;
    min-width: 142px;
}

.header_lang_ru,
.header_lang_en {
    padding-top: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.header_lang_ru::after {
    content: "";
    display: block;
    width: 22px;
    height: 1.2px;
    background-color: #ffffff;
}

.header_lang_ru {
    position: relative;
    right: 16px;
}

.header_title {
    max-width: 720px;
    min-width: 288px;
    font-weight: 900;
    font-size: calc(40px + 56 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(44px + 56 * ((100vw - 320px) / (768 - 320)));
    text-align: center;
    max-width: 720px;
    min-width: 288px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.header_subtitle {
    min-width: 288px;
    max-width: 640px;
    width: 83%;
    margin: 0 auto;
    font-weight: 400;
    font-size: calc(16px + 14 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(20px + 16 * ((100vw - 320px) / (768 - 320)));
    text-align: center;
    
    margin-bottom: 40px;
}

/* CAPTION */

.section{
  margin-bottom: 64px;
  
}

.section_img {
    background-image: url(img/kalegin-michail-179870-unsplash.jpg);
    background-size: 100% 100%;
    padding: calc(40px + (100vw - 320px) / (768 - 320) * (100 - 42)) 0 calc(80px + (100vw - 320px) / (768 - 320) * (204 - 85)); 
    margin: auto -16px;
    max-height: 480px;
}

.section_legend {

}

.lead__path {
    animation: leading 20s linear forwards;
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 1390;
    stroke-dashoffset: 1390;
  }

  @keyframes leading {
    to {
      stroke-dashoffset: 2780;
    }
  }

  @keyframes appearance {
    from {
        opacity: 0;
    } 
    
    to {
      opacity: 1;
    }
  }
  
  .lead__town:nth-child(2) {
    animation: appearance 1s linear forwards;
    opacity: 0;
  }
  
  .lead__town:nth-child(3) {
    animation: appearance 1s linear forwards 1.8s;
    opacity: 0;
  }
  
  .lead__town:nth-child(4) {
    animation: appearance 1s linear forwards 4.5s;
    opacity: 0;
  }
  
  .lead__town:nth-child(5) {
    animation: appearance 1s linear forwards 5.6s;
    opacity: 0;
  }
  
  .lead__town:nth-child(6) {
    animation: appearance 1s linear forwards 7.5s;
    opacity: 0;
  }
  
  .lead__town:nth-child(7) {
    animation: appearance 1s linear forwards 8.9s;
    opacity: 0;
  }
  
  .lead__town:nth-child(8) {
    animation: appearance 1s linear forwards 11.9s;
    opacity: 0;
  }
  
  .lead__town:nth-child(9) {
    animation: appearance 1s linear forwards 13s;
    opacity: 0;
  }
  
  .lead__town:nth-child(10) {
    animation: appearance 1s linear forwards 14.1s;
    opacity: 0;
  }
  
  .lead__town:nth-child(11) {
    animation: appearance 1s linear forwards 15.8s;
    opacity: 0;
  }
  
  .lead__town:nth-child(12) {
    animation: appearance 1s linear forwards 18.8s;
    opacity: 0;
  }
  
  .lead__town:nth-child(13) {
    animation: appearance 1s linear forwards 19.9s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(14) {
    animation: appearance 1s linear forwards;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(15) {
    animation: appearance 1s linear forwards 1.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(16) {
    animation: appearance 1s linear forwards 1.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(17) {
    animation: appearance 1s linear forwards 4.5s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(18) {
    animation: appearance 1s linear forwards 4.5s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(19) {
    animation: appearance 1s linear forwards 5.6s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(20) {
    animation: appearance 1s linear forwards 5.6s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(21) {
    animation: appearance 1s linear forwards 7.5s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(22) {
    animation: appearance 1s linear forwards 7.5s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(23) {
    animation: appearance 1s linear forwards 8.9s;
    opacity: 0;
  }
  .lead__town-point:nth-child(24) {
    animation: appearance 1s linear forwards 8.9s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(25) {
    animation: appearance 1s linear forwards 11.9s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(26) {
    animation: appearance 1s linear forwards 11.9s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(27) {
    animation: appearance 1s linear forwards 13s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(28) {
    animation: appearance 1s linear forwards 13s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(29) {
    animation: appearance 1s linear forwards 14.1s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(30) {
    animation: appearance 1s linear forwards 14.1s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(31) {
    animation: appearance 1s linear forwards 15.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(32) {
    animation: appearance 1s linear forwards 15.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(33) {
    animation: appearance 1s linear forwards 18.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(34) {
    animation: appearance 1s linear forwards 18.8s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(35) {
    animation: appearance 1s linear forwards 19.9s;
    opacity: 0;
  }
  
  .lead__town-point:nth-child(36) {
    animation: appearance 1s linear forwards 19.9s;
    opacity: 0;
  }


.caption_img {
    min-width: 320px;
    max-width: 984px;
    width: 100vw;
    margin-bottom: 8px;
    margin-left: -16px;
}

.caption_description {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 64px;
}

/* ABOUT */

.about_title {
    font-weight: 900;
    font-size: calc(32px + 22 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + 23 * ((100vw - 320px) / (768 - 320)));
    margin-bottom: 40px;
}

.about_desctiption {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 34px;
    max-width: 720px;
}

.about_digits {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 64px;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px) ;
    gap: 12px;  
    justify-content: center;
}

.gallery_img {
    width: 100%;
    height: 100%; 
    max-width: 340px;  
    
}

/* PLACES */

.places {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
    margin-bottom: 66px ;
}

.places_box{
    margin-bottom: 50px;
}

.places_box:last-child {
    margin-bottom: 0;
}

.places_title {
    font-weight: 900;
    font-size: calc(32px + 10 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + 11 * ((100vw - 320px) / (768 - 320)));
    margin-bottom: 32px;
}

.places_source {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.places_link {
    margin-bottom: 32px;
    text-decoration: underline;
    }

.link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;  

}

.link:hover {
    opacity: 0.8;
}

.places_image {
    min-width: 320px;
    max-width: 340px;
    width: 100%;
    
}

.places_desctiption_1 {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 352px;
}

.places_desctiption_2 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 25px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    width: 90vw;
    max-width: 352px;
}

/* BAIKAL */

.baikal {
    margin-bottom: 4rem;
}

.baikal_image {
    background-image: url(img/__background.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-size: cover;
    margin-left: -16px;
    margin-right: -16px;
    min-height: calc(100vw * 640 / 1024);
    padding: calc(2.01rem + (100vw - 320px) / (768 - 320) * (115 - 33)) 0 calc(2.01rem + (100vw - 320px) / (768 - 320) * (115 - 33));
}

.baikal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.2;    
}

.baikal_image:hover .baikal_overlay{
    background-color: #2A2C2F;
    opacity: 0.8;
    transition: opacity .2s linear;
}

.baikal_title {
    font-weight: 900;
    font-size: calc(32px + 40 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + 41 * ((100vw - 320px) / (768 - 320)));
    text-align: center;
    margin-bottom: 16px;
    z-index: 2;   
    color: #FFFFFF;
}

.baikal_subtitle {
    font-weight: 400;
    font-size: calc(14px + 4 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(16px + 6 * ((100vw - 320px) / (768 - 320)));
    text-align: center;
    width: 90vw;
    z-index: 2;
    color: #FFFFFF;
}

/* FOOTER */

.footer_nav {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 48px;
}

.footer_nav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width: 768px) {
    body {
        padding: 28px 24px 24px 24px;
    }

    .header_title {
        margin-bottom: 32px;
        font-size: 96px;
        line-height: 100px;
    }

    .header_subtitle {
        margin-bottom: 56px;
        font-size: 30px;
        line-height: 36px;
    }

    .section {
        margin-bottom: 88px;
    }

    .section_img {
        margin-left: -24px;
        margin-right: -24px;
        max-width: 928px;
        padding: calc(100px + (100vw - 768px) / (1024 - 768) * (121 - 100)) 0 calc(200px + (100vw - 768px) / (1024 - 768) * (121 - 100)); 
    }

    .section_description {
        margin-bottom: 88px;
    }

    .about_digits {
        margin-bottom: 88px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .places {
        margin-top: 88px;
        margin-bottom: 90px;
    }

    .places_box {
        display: grid;
        grid-template-columns: 340px 352px;
        column-gap: 28px;
        margin-bottom: 73px;

    }
    
    .places_title {
        grid-area: 1/1/3/2;
        margin: 0;
        margin-bottom: 48px;
        font-size: 42px;
        line-height: 46px;
    }
    
    .places_source {
        grid-column: 2/3;
        align-self: end;
        margin-bottom: 12px;
    }
    
    .places_link {
        grid-column: 2/3;
        margin: 0;
    }

    .places_image {
        grid-area: 3/1/5/2;
        width: 100%;
        max-width: 440px;
    }

    .places_desctiption_1 {
        margin: 0;
        max-width: 456px;
        width: calc(22rem + 104 * ((100vw - 768px) / (1024 - 768)));
    }
    
    .places_desctiption_2 {
        margin: 0;
        margin-top: 25px;
        width: calc(22rem + 104 * ((100vw - 768px) / (1024 - 768)));
        max-width: 456px;
    }

    .footer_image {
        width: 768px;
        height: 480px;
        margin-left: -24px;
        margin-right: -24px;
        
    }

    .image_title {
        margin-top: 115px;
        margin-bottom: 32px;
        font-size: 72px;
        line-height: 76px;
    }

    .image_subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
    }

    .footer_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }
    
    .footer_nav {
        display: flex;
        flex-direction: row;
        column-gap: 18px;
        max-width: 465px;
        margin: 0;
        justify-content: space-between;  
    }
    .footer_nav li {
        margin: 0;
    }
    
    .footer_nav a {
        font-size: 16px;
        line-height: 18px;
    }
    
    .footer_copyright {
       margin: 0;
       line-height: 18px;
       align-self: center;
    }
}

@media screen and (min-width: 1024px) {

    body {
        padding: 28px 48px 24px 48px;
    }

    .header_title {
        font-size: 96px;
        line-height: 100px;
    }

    .header_subtitle {
        font-size: 30px;
        line-height: 36px;
    }

    .header_caption {
        text-align: center;
    }

    .section {
        margin-bottom: 92px;
    }   
    
    .section_img {
        width: 928px;
        margin: 0 auto 8px auto;
    }
    
    .section_description {
        text-align: left;
    }

    .about_title {
        font-size: 54px;
        line-height: 58px;
    }

    .about_digits {
        margin-bottom: 92px;
    }

    .about {
        width: 690px;
    }
    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 14px;
    }

    .places {
        margin-top: 92px;
        margin-bottom: 92px;
    }

    .places_box {
        grid-template-columns: 440px 456px;
        margin-bottom: 73px;
        column-gap: 32px;
    }

    .places_box:last-child {
        margin-bottom: 0;
    }

    .places_title {
        font-size: 72px;
        line-height: 76px;
    }

    .places_desctiption_1,
    .places_desctiption_2 {
        width: calc(22rem + 28 * ((100vw - 1024)/(1280 - 1024)));
    }

    .footer_image {
        width: 1024px;
        height: 640px;
        margin-left: -48px;
        margin-right: -48px;
    }

    .image_title {
        font-size: 72px;
        line-height: 76px;
        margin-top: 195px;
    }

    @media screen and (min-width: 1280px) {
        
        body {
            padding: 28px 148px 24px 148px;
        }

        .header_top {
            margin-bottom: 56px;
            margin-left: -100px;
            margin-right: -100px;
        }

        .header_subtitle {
            margin-bottom: 64px;
        }

        .gallery {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-left: -100px;
            margin-right: -100px;
        }
        
        .places_box {
            grid-template-columns: 460px 484px;
            column-gap: 40px;
            margin-bottom: 80px;
        }

        .footer_image {
            width: 1184px;
            margin: 0 auto;
            margin-bottom: 92px;
        }
       
        .footer {
            margin-left: -100px;
            margin-right: -100px;
        }

    }
}
