.intro {
	margin-left: 148px;
	max-width: 690px;
	margin-bottom: 92px;
}

.intro__title {
	font-weight: 900;
	font-size: 54px;
	line-height: 58px;
	margin-bottom: 40px;
}

.intro__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 33px;
}

.intro__list-item {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.intro__stats {
	font-weight: normal;
}

@media screen and (max-width: 1024px) {

	.intro {
		width: 690px;
		margin-left: 48px;
	}
}

@media screen and (max-width: 768px) {

	.intro {
		padding-left: 24px;
		padding-right: 24px;
		margin-left: 0;
		margin-bottom: 64px;
		width: 100%;
		max-width: 100%;
	}

	.intro__title {
		font-size: calc(54px + 22 * ((100vw - 768px) / (768 - 320)));
		line-height: calc(58px + 23 * ((100vw - 768px) / (768 - 320)));
	}
}

@media screen and (max-width: 320px) {

	.intro {
		padding-left: 16px;
		padding-right: 16px;
	}

	.intro__title {
		font-size: 32px;
		line-height: 1.09;
	}
}